<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create post</h1>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter username" name="user">
        <br><br>
        <textarea name="content"></textarea>
        <br>
        <button>Submit post</button>
    </form>
</body>
</html>