<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Post id:<%=post.id%></h3>
    <div class="post">
        <div class="user"><%=post.user%></div>
        <div class="content"><%=post.content%></div>
    </div>
</body>
</html>